html {
    margin: 0px;
}

body {
    background:#FFFF64;
    margin:0px;
}

/* Title "BTs Corner */

header {
    color: #484848;
    letter-spacing: 20px;
    font-family: 'Bebas Neue', cursive, "New Times Roman";
    font-size:30px;
    margin: 0px auto;
}
header h1 {
    margin: 0px auto;
    text-align: center;
}



/* Title Sub heading */


.title_sub {
    color: #484848;
    letter-spacing: 25px;
    font-family: 'Bebas Neue', cursive, "New Times Roman";
    margin: 0px auto;
    font-size: 25px;
    text-align: center;
}

/* Navgivation Bar */


nav {
    box-align: right;
}

nav ul{
    font-size: 30px;
    font-family: 'Bebas Neue', cursive, "New Times Roman";
    list-style: none;
    text-align: right;
    padding: 0px 0px 0px 0px;
    margin: 0px auto
}

nav ul li a {
    text-align: left;
    text-decoration: none;
    color: #484848;
    line-height: 40px;
}

a:hover {
    color: red;
    align-self: center;
}


/* FIgure */


figure #headphones {
    display: block;
    width: 40%;
    margin: 0px auto;
}

figure {
    margin: 0px auto;
}
